.container {
    text-align: center;
    background: linear-gradient(to bottom, #82caff, #3940ff);
    padding: 0 px;
    margin: 0px
  }
  .main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 60px); /* Full viewport height minus header */
  }
  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding:24px;
    background-color: #5864fc; /* Bank's primary color */
    color: white;
    font-size: 30px;
    height: 50px;
  }
  form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 20px;

}
.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .button-image {
    width: 100px; /* Ajustez la taille selon vos besoins */
    height: auto;
  }

form button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #333;
}