<div class="container">
    <div class="header">
      <div><button class="image-button" (click)="onImageButtonClick()">
        <img src="../../assets/stbbank.jpeg" alt="stb bank">
    </button></div>
    </div>
    <div class="main-content">
      <div class="search-option">
        <img src="../../assets/agent-removebg-preview2.png" alt="Agent Image" >
        <br>
        <br>
        <button (click)="handleClick()">Recherche par agent</button>
      </div>
      <div class="search-option">
        <img src="../../assets/department-removebg-preview.png" alt="Department Image">
        <br>
        <br>
        <button (click)="handleClick1()">Recherche par department</button>
      </div>
    </div>
  </div>
  